<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>

    <add key="ErrorLogFilePath" value="C:\Log" />
    <add key="IsLoggedToConsole" value="True" /><!--Production value: False-->
    <add key="MatchingProcessServiceUrl" value="localhost" />
    <add key="MatchingProcessServicePort" value ="8001" />

    <!--Net Tcp Binding-->
    <add key="NETTCPMaxBufferPoolSize" value="2147483647" />
    <add key="NETTCPMaxBufferSize" value="2147483647" />
    <add key="NETTCPMaxConnections" value="2147483647" />
    <add key="NETTCPMaxReceivedMessageSize" value="2147483647" />
    <add key="NETTCPPortSharingEnabled" value="false" />
    <add key="NETTCPTransactionFlow" value="false" />
    <add key="NETTCPListenBacklog" value="2147483647" />
    <!--Net Tcp Binding-->

    <!--Service Throttling Behavior-->
    <add key="STMaxConcurrentCalls" value="1000" />
    <add key="STMaxConcurrentSessions" value="1000" />
    <add key="STMaxConcurrentInstances" value="100" />
    <!--Service Throttling Behavior-->

    <!--WorkFlow Config-->
    <add key="EDILoggerpath" value="C:\Log" />
    <add key="AllowEmail" value="TRUE" />
    <add key="GTMailId" value="arun.kumar@dream-orbit.com" />
    <add key="GTMailFrom" value="arun.kumar@dream-orbit.com" />
    <add key="SmtpHost" value="mail.dream-orbit.com" />
    <add key="NWCredentialForMailId"  value="gtdummytest@hotmail.com" />
    <add key="NWCredentialForMailPwd"  value="Azikewe2" />
    <add key="SmtpPort" value="25" />
    <add key="IsSmtpSSL" value="FALSE" />
    <add key="GlobalTranz_Common_BusinessLogic_EnterpriseServices_SystemHistoryService" value="http://localhost:53245/SystemHistoryService.asmx" />
    <add key="defaultEmailList" value="arun.kumar@dream-orbit.com" />
    <add key="emailLimit" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="RexnordCSPEstimatedCostLimit" value ="0.01" />
    <add key ="BillingStationEstimatedCostLimit" value ="3" />
    <add key ="RexnordFlatDiscountEstimatedCostLimit" value ="5" />
    <add key ="EstimatedCostLimit" value ="9" />
    <add key="RexnordCompanyToken" value="REXNORD,FALK,GA ,RODNEY HUNT,PSI BEARING" />
    <add key="ZurnCompanyToken" value="ZURN" />
    <add key="NETTCPRateWareServiceURL" value="stg.rateware.globaltranz.com" />
    <add key="NETTCPPORT" value="8002/MyService" />
    <add key ="RateWareServiceResponseBufferSize" value="6553600" />
    <add key ="ErrorMailStyleSheetPath" value="C:\GNSVN\Indigo\Application\GlobalTranz.Enterprise.EDI\EDI210Conversion\Styles\EDIErrorNotificationMail.xslt" />
    <add key ="RateErrorMailNotificationXsltPath" value ="C:\GNSVN\Indigo\Application\GlobalTranz.Enterprise\Forms\BackOffice\Styles\RateDepartmentMailNotification.xslt" />
    <add key ="AgentMailNotificationXsltPath" value ="C:\GNSVN\Indigo\Application\GlobalTranz.Enterprise\Forms\BackOffice\Styles\AgentMailNotification.xslt" />
    <add key ="CustomerRebillMailXsltPath" value ="C:\GNSVN\Indigo\Application\GlobalTranz.Enterprise\Forms\BackOffice\Styles\CustomerRebillMailSetup.xslt" />
    <add key ="DefaultTariffHistoryDate" value="2011-11-24" />
    <add key="NegativeAdjustmentTolerance" value="-50" />
    <add key ="SucessStyleSheetPath" value="C:\GNSVN\Indigo\Application\GlobalTranz.Enterprise.EDI\EDI210Conversion\Styles\EDISucessNotificationMail.xslt" />
    <add key="DelayTime" value="00:00:00" />
    <add key="DownloadDelayTime" value="00:00:00" />
    <add key="DownloadFileCount" value="10" />
    <add key="BasicStyleSheetPath"  value="C:\GNSVN\Indigo\Application\MatchingProcessEDI210\bin\Debug" />
    <add key="EDIProcessFileCount" value="10" />
    <add key="997Xml" value="E:\GTPLCEDI\EDI\EDICarrierrate.com\Static Xml Files\997.xml" />
    <add key="Priority1ThreadCount" value="1" />
    <add key="Priority2ThreadCount" value="0" />
    <add key="EDI210RecordsCount" value="100" />
    <add key="ReprocessExpDays" value="3" />
    <add key ="FolderPath" value="C:\Log" />
    <add key="RexnordCSPEstimatedCost" value="0" />
    <!--WorkFlow Config-->
    
  </appSettings>

  <connectionStrings>
    <add name="DatabaseConnection" connectionString="E90gF6dA8cuiYiT/2S0sTj25bTnCfyOaEk0MDFEQA44LyqPgGeffRgDOUMhB3J2ndVrR5hqs27eCxTQnrLXR7YogGdwA84hoHP1F2ZDn5kCLQZeeqb2ICy3Ql5KxjGYY" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>